.project
*/node-log.log
logs/*.log
*.log
!.gitignore
game-server/node_modules/*
web-server/node_modules/*
.idea
game-server/.idea
web-server/.idea
.project
.settings/
**/*.svn
*.svn
*.swp
*.sublime-project
*.sublime-workspace